<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706008039638-flu9il38l7u8l1dcl2kujt9bcqorqjq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706008039638-flu9il38l7u8l1dcl2kujt9bcqorqjq5</string>
	<key>API_KEY</key>
	<string>AIzaSyAnvoWvwgOSAAFVkU5pdunNg_wjAU1JTg0</string>
	<key>GCM_SENDER_ID</key>
	<string>706008039638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ishii.kanako.addressBook</string>
	<key>PROJECT_ID</key>
	<string>addressbook-90be4</string>
	<key>STORAGE_BUCKET</key>
	<string>addressbook-90be4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706008039638:ios:ad6692b3df6e56e2044977</string>
</dict>
</plist>